<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text to Speech Converter</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Text to Speech Converter</h1>
      <form id="convertForm">
        <label for="text">Enter text:</label><br />
        <textarea
          id="text"
          name="text"
          placeholder="Enter text to convert to speech"
        ></textarea
        ><br />
        <button type="submit">Convert to Speech</button>
      </form>
      <div id="audioControls" style="display: none">
        <audio controls id="audioPlayer">
          <source src="" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>
        <button id="downloadButton" style="display: none">
          Download Audio
        </button>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
